body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

#form{
    border-radius: 20px;
    border: solid black;
    background-color:  #f0f0f0;
    padding: 30px;
    width: fit-content;
}

button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    font-size: 16px; 
    color: black;
}

legend {
    font-weight: bolder;
    color: #bb7709fc;
    padding: 0 10px;
}
